.red {
    background: red;
}
.black {
    background: black;
}
.row1 {
    left: 35px;
}
.row2 {
    left: 70;
}
.row3 {
    left: 105;
}
.row4 {
    left: 140;
}
.row5 {
    left: 185;
}
.col1 {
    top: 0;
}
.col2 {
    top: 35;
}
.col3 {
    top: 70;
}